@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html{
  background-color: rgb(226, 229, 229);
}
.scroll-overlay {
  overflow-y: auto;
}

/* Make scrollbar overlay (not affect layout) */
.scroll-overlay::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}
.scroll-overlay::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-overlay::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 4px;
}

/* Hide scrollbar until scroll happens */
.scroll-overlay::-webkit-scrollbar-thumb:vertical:inactive {
  background: transparent;
}

/* Disable scrollbar gutter reservation */
.scroll-overlay {
  scrollbar-gutter: none !important;
}
